<div class="wrapper">
  <div class="logo">
    <img src="./assets/images/34314.jpg" class="logoImg"/>
  </div>
  <div class="search">
    <input type="text" class="searchInput" placeholder="Search post or people"/>
  </div>
  <div class="personal">
    <div class="log">
      <div class="setting">
        <span>Setting</span>
      </div>
      <div class="login">
        <span>Login</span>
      </div>
    </div>
    <div class="message">
      <div class="notifications">
        <span>Notifs2</span>
      </div>
      <div class="msg">
        <span>1</span>
        <img src="./assets/images/mail-icon.png" class="msgImg"/>
      </div>
    </div>
  </div>
</div>
