.wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo{
  flex: 1;
}

.logoImg{
  height: 40px;
  padding-top: 1%;
}

.search{
  flex: 2;
  width: 30%;
  height: 100%;
}

.searchInput{
  border-radius: 5px;
  width: 80%;
  line-height: 184%;
}

.personal{
  width: 100%;
  flex:1;
}

.log{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.setting{
  margin-right: 5%;
}

.notifications{
  margin-right: 5%;
}

.msg{
  flex-shrink: 2;
  display: flex;
  max-width: 6%;
}

.msgImg{
  width: 65%;
  height: 5%;
}


