<div class="signupWrapper">
  <h1>Sign up</h1>

  <form #form="ngForm" (ngSubmit)="signup(form.value)">
    <div class="inputWrapper">
      <label>Username</label>
      <input type="text" class="input" name="username" [ngModel]="username" required>
    </div>
    <div class="inputWrapper">
      <label>Password</label>
      <input type="password" class="input" name="password" [ngModel]="password" required>
    </div>
    <div class="inputWrapper">
      <label>Confirm Password</label>
      <input type="password" class="input" name="confirmPassword" [ngModel]="confirmPassword" required>
    </div>
    <div class="inputWrapper">
      <label>Email</label>
      <input type="email" class="input" name="email" [ngModel]="email" required>
    </div>
    <div class="inputWrapper">
      <button type="submit" class="button">Signup</button>
    </div>
  </form>
</div>
